.question {
  background: #fefefe;
  border-radius: 0.5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 1.5rem;

  & + .question { //pegando a segunda question em diante
    margin-top: 0.5rem;
  }  

  p {
    color: var(--gray-500);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        font-size: 0.8rem;
        color: var(--gray-300);
        margin-left: 0.5rem;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--gray-300);
        gap: 0.5rem;

        &.liked {
          color: var(--purple-500);

          // entrando no svg e mudando a cor {
          svg path {
            stroke: var(--purple-500);
          }
        }
      }

      &:hover {
        filter: brightness(0.2);
      }
    }
  }
}