#page-room {
  header {
    padding: 1.5rem;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1120px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 2.8rem;
      }
    }
  }

  main {
    max-width: 50rem;
    margin: 0 auto;
    
    .room-title {
      margin: 2rem 0 1.5rem;
      display: flex;
      align-items: center;

      h1 {
        font-size: 'Popins', sans-serif;
        font-size: 1.5rem;
        color: var(--gray-500);
      }

      span {
        margin-left: 1rem;
        background: var(--pink-500);
        border-radius: 624.93rem;
        padding: 0.5rem 1rem;
        color: var(--white);
        font-weight: 500;
        font-size: 0.8rem;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1rem;
        border-radius: 0.5rem;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
        resize: vertical;
        min-height: 8.13rem;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
          }

          span {
            font-size: 0.8rem;
            color: var(--gray-300);
            font-weight: 500;
            margin-left: 0.5rem;
          }
        }

        > span {
          font-size: 0.8rem;
          color: var(--gray-300);
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: var(--purple-500);
            font-weight: 500;
            font-size: 0.8rem;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      margin-top: 2rem;
    }
  }
}
